APP_NAME="MP Landing"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://DOMAIN_LANDING_ANDA

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=mp-landing-db
DB_PORT=3306
DB_DATABASE=landing_db
DB_USERNAME=laravel
DB_PASSWORD=GANTI_DENGAN_PASSWORD_KUAT

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

# Domain untuk Traefik routing
DOMAIN_LANDING=landing.maticpost.com
